body{
	background-color: #292a2d;
	color:#5f6368;
	width: 450px;
	text-decoration: none;
}
h1{
	font-size: 25px;
	text-align: center;
	margin:30px 25px; 
	padding:3;

}
a {
	color: #5f6368;
	text-decoration: none;
	text-align: left;
}
li{
	width: 450px;
}
p{
	color: white;
	text-decoration: none;
	display:initial;
	text-align: right;
}
.resultados{
	font-size: 18px;
	text-decoration: none;
}